<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="LSC16">
  <xacro:macro name="LSC16" params="*origin parent:=base_link name:=lslidar">

    <joint name="${name}_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" /> 
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
    </joint>

    <link name="${name}_base_link">
      <visual>
        <geometry>
          <mesh filename="package://lslidar_description/meshes/LSC16_base.obj" />
        </geometry>
      </visual>
      <visual>
        <geometry>
          <mesh filename="package://lslidar_description/meshes/LSC16_lid.obj" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.051" length="0.081"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_base_scan_joint" type="fixed" >
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${name}_base_link" />
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <visual>
        <origin xyz="0 0 0" />
        <geometry>
          <mesh filename="package://lslidar_description/meshes/LSC16_scan.obj" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <sphere radius="0"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
